@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

#main-container {
  width: 100%;
  height: 100%;
}

/* Money */
#money-container {
  position: absolute;
  right: 2vw;
  top: 2vh;
  font-weight: 400;
  font-size: 29px;
}

#money {
  text-align: right;
  color: #e100ff;
}

#money-minus {
  text-align: right;
  color: rgb(255, 0, 191);
}

#cash,
#bank,
#plus {
  color: #ff00ff;
}

#minus {
  color: rgb(204, 0, 255);
}

/* Player HUD */

#playerhud {
  display: flex;
  position: absolute;
  bottom: 0vw;
  left: 1.5vh;
}

/* Vehicle HUD */

.ui-car-fuel,
.ui-car-nos,
.ui-car-seatbelt,
.ui-car-cruise,
.ui-car-speed,
.ui-car-street {
  position: absolute;
}

.ui-car-speed {
  bottom: 5vh;
  left: 50.1vw;
}

.ui-car-fuel {
  left: 48.5vw;
  bottom: 2.5vw;
}

.ui-car-nos {
  left: 16.7vw;
  bottom: 5.4vw;
}

.ui-car-seatbelt {
  right: 44.5vw;
  bottom: 2.7vw;
}

.ui-car-cruise {
  right: 44.8vw;
  bottom: 8.0vh;
}

.ui-car-street {
  font-size: 20px;
  text-transform: Impact;
  bottom: 0vh;
  left: 47.10vw;
  color: #f22dba;
}

/* Animation */
.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}
